@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

.action__card {
    font-family: 'Jomhuria', cursive;
    font-size: 40px;
    color: wheat;
    margin: 20px 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    display: flex;
    width: 300px;
    height: 200px;
    flex-direction: column;
    border-radius: 8px;
    background-color:darkslategray;
    box-shadow: 5px 5px 5px 5px black;
    transition: all 0.3s ease;
}

.action__card img {
    width: 60%;
    height: auto;
    border-radius: 8px;
}

.action__card:hover {
    transform: scale(1.01);
    cursor: pointer;
}