.front {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.back {
    top: 0px;
    position: absolute;
    background-color: cadetblue;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.animal1 {
    background-image: url('../img/animal/1.svg');

}
.animal2 {
    background-image: url('../img/animal/2.svg');
}
.animal3 {
    background-image: url('../img/animal/3.svg');
}
.animal4 {
    background-image: url('../img/animal/4.svg');
}

.animal5 {
    background-image: url('../img/animal/5.svg');
}
.animal6 {
    background-image: url('../img/animal/6.svg');
}
.animal7 {
    background-image: url('../img/animal/7.svg');
}
.animal8 {
    background-image: url('../img/animal/8.svg');
}
.animal9 {
    background-image: url('../img/animal/9.svg');
}
.animal10 {
    background-image: url('../img/animal/10.svg');
}
.animal11 {
    background-image: url('../img/animal/11.svg');
}
.animal12 {
    background-image: url('../img/animal/12.svg');
}
.animal13 {
    background-image: url('../img/animal/13.svg');
}
.animal14 {
    background-image: url('../img/animal/10.svg');
}
.animal15 {
    background-image: url('../img/animal/15.svg');
}
.animal16 {
    background-image: url('../img/animal/16.svg');
}
.animal17 {
    background-image: url('../img/animal/17.svg');
}
.animal18 {
    background-image: url('../img/animal/18.svg');
}
.animal19 {
    background-image: url('../img/animal/19.svg');
}
.animal20 {
    background-image: url('../img/animal/20.svg');
}
.animal21 {
    background-image: url('../img/animal/21.svg');
}
.animal22 {
    background-image: url('../img/animal/22.svg');
}
.animal23 {
    background-image: url('../img/animal/23.svg');
}
.animal24 {
    background-image: url('../img/animal/24.svg');
}
.animal25 {
    background-image: url('../img/animal/25.svg');
}
.animal26 {
    background-image: url('../img/animal/26.svg');
}
.animal27 {
    background-image: url('../img/animal/27.svg');
}
.animal28 {
    background-image: url('../img/animal/28.svg');
}
.animal29 {
    background-image: url('../img/animal/29.svg');
}
.animal30 {
    background-image: url('../img/animal/30.svg');
}
.animal31 {
    background-image: url('../img/animal/31.svg');
}
.animal32 {
    background-image: url('../img/animal/32.svg');
}


.natura1 {
    background-image: url('../img/natura/1.svg');
}
.natura2 {
    background-image: url('../img/natura/2.svg');
}
.natura3 {
    background-image: url('../img/natura/3.svg');
}
.natura4 {
    background-image: url('../img/natura/4.svg');
}

.natura5 {
    background-image: url('../img/natura/5.svg');
}
.natura6 {
    background-image: url('../img/natura/6.svg');
}
.natura7 {
    background-image: url('../img/natura/7.svg');
}
.natura8 {
    background-image: url('../img/natura/8.svg');
}
.natura9 {
    background-image: url('../img/natura/9.svg');
}
.natura10 {
    background-image: url('../img/natura/10.svg');
}
.natura11 {
    background-image: url('../img/natura/11.svg');
}
.natura12 {
    background-image: url('../img/natura/12.svg');
}
.natura13 {
    background-image: url('../img/natura/13.svg');
}
.natura14 {
    background-image: url('../img/natura/10.svg');
}
.natura15 {
    background-image: url('../img/natura/15.svg');
}
.natura16 {
    background-image: url('../img/natura/16.svg');
}
.natura17 {
    background-image: url('../img/natura/17.svg');
}
.natura18 {
    background-image: url('../img/natura/18.svg');
}
.natura19 {
    background-image: url('../img/natura/19.svg');
}
.natura20 {
    background-image: url('../img/natura/20.svg');
}
.natura21 {
    background-image: url('../img/natura/21.svg');
}
.natura22 {
    background-image: url('../img/natura/22.svg');
}
.natura23 {
    background-image: url('../img/natura/23.svg');
}
.natura24 {
    background-image: url('../img/natura/24.svg');
}
.natura25 {
    background-image: url('../img/natura/25.svg');
}
.natura26 {
    background-image: url('../img/natura/26.svg');
}
.natura27 {
    background-image: url('../img/natura/27.svg');
}
.natura28 {
    background-image: url('../img/natura/28.svg');
}
.natura29 {
    background-image: url('../img/natura/29.svg');
}
.natura30 {
    background-image: url('../img/natura/30.svg');
}
.natura31 {
    background-image: url('../img/natura/31.svg');
}
.natura32 {
    background-image: url('../img/natura/32.svg');
}

