.result_wrapper {
    display: flex;
    width: 50%;
}

.result_wrapper img{
    width: 100%;
    /* height: 50%; */
}

.text {
    font-family: 'Jomhuria', cursive;
    font-size: 40px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}